<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>465100224807-8e0cmoag0aq6i4l2u1f8ugi5vff5m43s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.465100224807-8e0cmoag0aq6i4l2u1f8ugi5vff5m43s</string>
	<key>API_KEY</key>
	<string>AIzaSyCsO3k3LLmKIoAbYNU3j5PUwqMH7-_4DSg</string>
	<key>GCM_SENDER_ID</key>
	<string>465100224807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.odilokhunov.flashChatFlutter</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-dart</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-dart.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:465100224807:ios:05ebbd6fc71a41f88bd102</string>
</dict>
</plist>